<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ph.peach.dao.ProductsDAO">
	<select id="getProductsById" resultType="kr.ph.peach.vo.ProductsVO">
    	SELECT * FROM sale_board WHERE sb_me_num = #{me_num}
    	<if test="state != 0">
    		and sb_ss_num = #{state}
    	</if>
    </select>
</mapper>
