<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ph.peach.dao.ReportDAO">
	<insert id="insertReport">
		insert into report(rp_date, rp_info, rp_me_num,
		rp_table, rp_key) values(#{reportVo.rp_date}, #{reportVo.rp_info},
		#{reportVo.rp_me_num}, #{reportVo.rp_table}, #{reportVo.rp_key})
	</insert>
	<select id="getreportList" resultType="kr.ph.peach.vo.ReportVO">
		select * from report
	</select>
</mapper>
