<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ph.peach.dao.SaleCategoryDAO">

	<select id="selectSaleCategoryList" resultType="kr.ph.peach.vo.SaleCategoryVO">
		select
			*
		from
			sale_category		
	</select>
	<select id="selectSaleCategoryById" resultType="kr.ph.peach.vo.SaleCategoryVO">
        select 
        	* 
        from 
        	sale_board 
		left join 
			sale_category
		on
			sb_sc_num = sc_num
		where
			sb_ss_num = 1;	 
    </select>
</mapper>

